<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel Express</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="container">
    <form action="/parcels" method="post">
      <div>
        <label for="height" class="form-label">Height</label>
        <input id="height" name="height" type="number" class="form-control">
      </div>
      <div>
        <label for="length" class="form-label">Length</label>
        <input id="length" name="length" type="number" class="form-control">
      </div>
      <div>
        <label for="width" class="form-label">Width</label>
        <input id="width" name="width" type="number" class="form-control">
      </div>
      <div>
        <label for="weight" class="form-label">Weight</label>
        <input id="weight" name="weight" type="number" class="form-control">
      </div>
      <br>
      <button class="btn btn-primary" type="submit">Enter</button>  
    </form>
  </body>
</html>