<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel Express</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body class="container">
    <div class="jumbotron text-center">
      <h1>Welcome to Parcel Express</h1>
    </div>
    <ul>
      <li><a href='/parcels/new'>Add a new parcel</a></li>
      <li><a href='/parcels'>See all parcels</a></li>
    </ul>
  </body>
</html>